<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/fe36b189-7a5d-4af4-b020-233196f58de2/resourceGroups/PlantAllocation/providers/Microsoft.Web/sites/buysel</ResourceId>
    <ResourceGroup>PlantAllocation</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://buysel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ca793c85-b707-4f59-8f7d-49cd87e6208f</ProjectGuid>
    <PublishUrl>https://buysel.scm.azurewebsites.net/</PublishUrl>
    <UserName>$buysel</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>